@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

body {
    @apply text-[16px];
}

.company-name {
    /* 2xl:text-[3.25rem] */
    @apply lg:text-[20px] text-white font-bold ml-3;
}

.bg-brand {
    background: #800080;
}

.text-highlight {
    color: #41201E;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea { 
    font-size: 18px; 
}